/* max value cant inherit */
@media (max-width:576px) {
    .boxlayout {
        width: 100%;
    }

    header .navbar .nav {
        display: none;
    }

    .topheader .topnavbar .contact a {
        display: none;
    }

    .home-content {
        padding: 60px 0;
    }

    .homepage .hotelform {
        margin-top: 30px;
        position: unset;
        grid-template-columns: 1fr;
        justify-items: center;
        width: 100%;
    }

    .aboutus .about-content {
        flex-direction: column;
        padding-top: 50px;
    }
}

/* ================================================================= */
/* min value inherit */
@media (min-width:576px) {
    .boxlayout {
        max-width: 540px;
    }

    header .navbar .nav {
        display: none;
    }

    .topheader .topnavbar .contact a {
        display: none;
    }

    .homepage .hotelform {
        margin-top: 30px;
        position: unset;
        grid-template-columns: 1fr;
        justify-items: center;
        width: 100%;
    }

    .aboutus .about-content {
        flex-direction: column;
        padding-top: 50px;
    }

}

/* ================================================================= */
@media (min-width:768px) {
    .boxlayout {
        max-width: 720px;
    }

    .homepage .hotelform {
        position: absolute;
        width: 75%;
        bottom: -200px;
    }

    .aboutus .about-content {
        padding-top: 220px;
    }
}

/* ================================================================= */
@media (min-width:992px) {
    .boxlayout {
        max-width: 960px;
    }

    .topheader .topnavbar .contact a {
        display: block;
    }

    .homepage .hotelform {
        grid-template-columns: 2fr 1fr;
        width: 75%;
        bottom: -100px;
    }

    .fields3 {
        grid-row: 2;
        grid-column: 1 / span 2;
    }

    .aboutus .about-content {
        padding-top: 150px;
        flex-direction: row;
    }
}

/* ================================================================= */
@media (min-width:1200px) {
    .boxlayout {
        max-width: 1140px;
    }

    header .navbar .menus {
        display: none;
    }

    header .navbar .nav {
        display: flex;
    }

    .homepage .hotelform {
        grid-template-columns: 2fr 1fr 1fr;
        width: 75%;
        bottom: -41px;
    }

    .fields3 {
        grid-row: unset;
        grid-column: unset;
    }

    .aboutus .about-content {
        padding-top: 100px;
    }
}

/* ================================================================= */
@media (min-width:1400px) {
    .boxlayout {
        max-width: 1320px;
    }
}